<div class="sidebar">
    <div class="menu">

        <div class="item">
            <a class="subbtn" onclick="onSubBtnClick(event)">Введение<ion-icon name="chevron-forward-outline"></ion-icon></a>
            <div class="submenu">
                <div class="subitem"><a onclick="onSubitemClick(event, 'tutorials-python-introduction-definition')">Определение</a></div>
                <div class="subitem"><a onclick="onSubitemClick(event, 'tutorials-python-introduction-use')">Применение</a></div>
            </div>
        </div>

        <div class="item">
            <a class="subbtn" onclick="onSubBtnClick(event)">Основы<ion-icon name="chevron-forward-outline"></ion-icon></a>
            <div class="submenu">
                <div class="subitem"><a onclick="onSubitemClick(event, 'tutorials-python-basics-structure')">Структура программы</a></div>
                <div class="subitem"><a onclick="onSubitemClick(event, 'tutorials-python-basics-comment')">Комментарии</a></div>
                <div class="subitem"><a onclick="onSubitemClick(event, 'tutorials-python-basics-import')">Директивы импорта</a></div>
                <div class="subitem"><a onclick="onSubitemClick(event, 'tutorials-python-basics-sections')">Секции программы</a></div>
                <div class="subitem"><a onclick="onSubitemClick(event, 'tutorials-python-basics-variables')">Переменные</a></div>
                <div class="subitem"><a onclick="onSubitemClick(event, 'tutorials-python-basics-operators')">Основные операторы</a></div>
                <div class="subitem"><a onclick="onSubitemClick(event, 'tutorials-python-basics-logics')">Логические операторы</a></div>
                <div class="subitem"><a onclick="onSubitemClick(event, 'tutorials-python-basics-compare')">Условия</a></div>
                <div class="subitem"><a onclick="onSubitemClick(event, 'tutorials-python-basics-cycles')">Циклы</a></div>
            </div>
        </div>

    </div>
</div>
<div id="articleTab">
    <div class="textarea">
        <p>Python – это популярный, высокоуровневый язык программирования, известный своей простотой использования, читаемостью и универсальностью. В этом учебнике мы рассмотрим основы Python, включая типы данных, управляющие конструкции, функции, модули, классы и стандартную библиотеку Python. Мы также изучим некоторые распространенные библиотеки и фреймворки Python, такие как NumPy, Pandas, Flask и Django.</p>
    </div>
</div>