<div class="textarea">
    <h1>Главная</h1>
    <p>Ваш надежный партнер в обучении программированию. Мы предлагаем бесплатные туториалы для начинающих и продвинутых программистов, чтобы помочь вам освоить различные языки программирования и технологии.</p>
    <p>Мы собрали лучшие уроки и видеоуроки от опытных разработчиков со всего мира. Наши материалы покрывают широкий диапазон тем, включая основы языков программирования, веб-разработку, мобильную разработку, искусственный интеллект и многое другое.</p>
    <p>Кроме того, мы предоставляем возможность практического обучения через интерактивные задачи и проекты. Вы можете применить свои знания на практике, создавая реальные приложения и игры.</p>
    <p>Мы стремимся сделать обучение программированию доступным и простым для всех. Присоединяйтесь к нашему сообществу и начните свой путь в мир программирования уже сегодня!</p>
</div>